.team__title {
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.team__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.team__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.team__item {
width: 270px;
height: 300px;
border-radius: 34px;
background: linear-gradient(268deg, rgba(254, 254, 255, 0.03) 0%, rgba(255, 255, 255, 0.02) 100%);
box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.05);
margin:  20px;
}

.team__img {
padding-top: 20px;
margin-bottom: -40px;
transition: 0.5s;
}

.team__img:hover {
  cursor: pointer;
  scale: 120%;
}

.team__sername {
  color: #FFF;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.team__job {
  color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
text-transform: uppercase;
}

.team__link a {
  padding: 0 7px;
  text-decoration: none;
  cursor: pointer;
}

.team__link a img:hover {
  transition: 0.3s;
}

.team__link a img:hover {
  scale: 150%;

}